div#box-main {
  font-family: "Lucida Console", "Courier New", monospace;
  font-family: "Pixelify Sans", sans-serif;
  font-size: x-large;
  text-align: justify;
  background-color: #f1c585;
  color: #822f22;
  padding: 15px 30px 30px 30px;

  margin-left: 270px;
  margin-right: 0;
  margin-bottom: 300px;
  margin-top: 0px;

  right: 20px;
  left: 0;
  min-height: 400px;
  min-width: 500px;

  border: solid 8px #d18a4f;
  position: absolute;
  display: inline;
}

img#pic {
  width: 150px;
  height: 150px;
}
