#main-nav {
  font-family: "Pixelify Sans", sans-serif;
  font-size: xx-large;
  text-align: center;
  background-color: #f1c585;
  padding: 10px;
  margin-left: 0;
  margin-right: 5px;
  /* margin-top: 250px; */

  height: 200px;
  border: solid 8px #d18a4f;
  left: 20px;
  position: absolute;
}
#sec-nav {
  font-family: "Pixelify Sans", sans-serif;
  font-size: xx-large;
  text-align: center;
  background-color: #f1c585;
  padding: 10px;
  margin-left: 0;
  margin-right: 5px;
  margin-top: 250px;

  min-height: 60px;
  border: solid 8px #d18a4f;
  left: 20px;
  position: absolute;
}

nav a {
  margin-top: 15px;
  display: block;
  color: #9b4d2f;
}

aside {
  margin-left: 0;
  display: inline-block;
}
