div #root {
  margin-top: 0;
}


main {
  min-height: 800px;
  height: fit-content;
}

div#box {
  columns:2;
  column-gap: 30px;

  /* font-family: "Lucida Console", "Courier New", monospace; */
  font-family: "Pixelify Sans", sans-serif;
  font-size:x-large;
  text-align:justify;
  background-color: #F1C585;
  color: #822F22;
  padding: 15px 30px 30px 30px;

  margin-left: 270px;
  margin-right: 0;
  margin-bottom: 300px;
  margin-top: 15px;

  right: 20px;
  left: 0;

  min-height: 400px;
  min-width: 500px;

  border: solid 8px #D18A4F;
  position: absolute;
  display: inline-block;
}

a {
  margin: 20px;
  text-decoration: none;
}

body {
  background-color: #28ADCF;
  width: 100%;
  margin: 0 0 0 0;
}

